<!--
Copyright 2015 Kynetics SRL

This file is part of orobot.

orobot is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

orobot is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with orobot.  If not, see <http://www.gnu.org/licenses/>.
-->
<md-toolbar class="md-whiteframe-z1">
  <h3>oRobot</h3>
</md-toolbar>
<md-list ng-if="isAuthenticated()">
  <md-list-item aria-label="Register robot" ui-sref="entity.robot_edit">
    <div  translate="global.navbar.register_oRobot"></div>
  </md-list-item>
  <md-list-item aria-label="search robot" ui-sref="entity.robot_search">
    <div translate="global.navbar.search_oRobot"></div>
  </md-list-item>
  <md-list-item aria-label="search events" ui-sref="entity.event">
    <div translate="global.navbar.events"></div>
  </md-list-item>
</md-list>
